<h2>Mutation Tutor Helper</h2>
<p>This tutor is specifically focused on helping you reason about mutations.</p>

<form method="POST">
    {% csrf_token %}

    <label>Username</label><br>
    <input type="text" name="username" required><br><br>

    <label>Password</label><br>
    <input type="password" name="password" required><br><br>

    <label>How well do you understand the concept "Mutation"?</label><br>
    <label><input type="radio" name="level" value="beginner" required> I don’t know what mutation is</label><br>
    <label><input type="radio" name="level" value="intermediate"> I kind of know the idea</label><br>
    <label><input type="radio" name="level" value="advanced"> I understand it well</label><br><br>

    <button type="submit">Start Learning</button>
</form>
